@tailwind base;

@font-face {
    font-family: Myriad Pro;
    font-weight: 5400;
    src: url(/fonts/MyriadPro/MYRIADPRO-REGULAR.woff) format("woff");
};
@font-face {
    font-family: Myriad Pro;
    font-weight: 600;
    src: url(/fonts/MyriadPro/MYRIADPRO-SEMIBOLD.woff) format("woff");
};

@tailwind components;

@tailwind utilities;
