@tailwind base;

@font-face {
    font-family: Myriad Pro;
    font-weight: 5400;
    src: url(/fonts/MyriadPro/MYRIADPRO-REGULAR.woff) format("woff");
};
@font-face {
    font-family: Myriad Pro;
    font-weight: 600;
    src: url(/fonts/MyriadPro/MYRIADPRO-SEMIBOLD.woff) format("woff");
};

@tailwind components;

@tailwind utilities;

macro-carousel-pagination-indicator {
    --macro-carousel-pagination-color: #ffffff33;
    --macro-carousel-pagination-color-selected: #04BFCB;
    --macro-carousel-pagination-size-dot: 12.18px;
  }
